<div class="tab-content" ng-controller="DetailsController as vm">
    <div loading></div>
    <div id="home" class="tab-pane fade in active">
        <div class="list-group mail-box">
            <div>
                From: <span> {{vm.message.result.headers.from}}</span>
            </div>
            <div>
                Subject: <span>{{vm.message.result.headers.subject}}</span>
            </div>
            <br/>
            <div>
                Message:
                <div ng-bind-html="vm.msgAsHtml">
                </div>
            </div>
        </div>
    </div>
</div>