<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <div class="list-group mail-box">
            <div>
                From: <span> Pesho</span>
            </div>
            <div>
                Subject: <span> shte piem li</span>
            </div>
            <br/>
            <div>
                Message:
                <div >
                    asdasdasd asdasdasdasdasdasdasdasdasdasdasdasdasdasdasd asdasdasdasdasdasdasdasdasdasdasdasdasdasdasd asdasdasdasdasdasd asdasdasd asdasdasd asdasdasd
                </div>
            </div>
        </div>
    </div>
</div>